@import "../../scss/lib/theme/vars";

.home {
  background: $light-grey;
  height: 100%;
  font-family: $font-family;

  h2 {
    font-weight: 200;
    letter-spacing: 1.1px;
    font-size: 2.5vh;
    clear: both;
    margin-left: 3vh;
    color: $dark-grey;
  }

  .gallery-title {
    padding-top: 10vh;
  }

  .gallery-item-container {
    padding: 3vh 1vh;
  }

  p {
    font-weight: 200;
    letter-spacing: 1.1px;
    font-size: 2.5vh;
    clear: both;
    margin-left: 3vh;
    color: $dark-grey;
    margin-top: 12vh;
  }

  li {
    padding: 1vh 3vh;
    border-radius: 10px;
    margin: 2vh 3vh;

    p {
      padding: 1vh 0;
      color: $dark-grey;
    }
  }
}
