<section class="home" ng-cloak>

  <!-- TODO: come back to this -->
  <!-- <p class="about-this" ng-if="landingCtrl.showSignup">This will be a paragraph about this site and what it does and why you should definitely sign up to use it.</p> -->

  <div class="search-container">
    <h2 class="color-questions">search</h2>
    <input ng-model="homeCtrl.questionSearchTerm" type="text" placeholder="search for a question">
  </div>

  <h2 class="color-questions">questions</h2>
  <div>
    <ul>
      <question-item ng-repeat="question in homeCtrl.questions | questionSearch: homeCtrl.questionSearchTerm | orderBy: '-(upvotes - downvotes)'" question="question">
      </question-item>
    </ul>
  </div>

  <create-question ng-if="homeCtrl.authenticationStatus"></create-question>

</section>
