<section class="home" ng-cloak>
  <create-question ng-if="homeCtrl.authenticationStatus"></create-question>
  <h2 class="color-questions">questions</h2>
  <div>
    <ul>
      <!-- <question-item ng-repeat="item in homeCtrl.questions | questionSearch: homeCtrl.questionSearchTerm"
        question="item"
        delete-done="homeCtrl.questionDeleteDone(questionData)"
        ng-click="homeCtrl.currentQuestion = item">
      </question-item> -->
      <question-item ng-repeat="question in homeCtrl.questions" question="question">
      </question-item>
    </ul>
  </div>
</section>
