<section class="answer" ng-cloak>
  <div>{{ answerCtrl.answer.content }}</div>
  <div>
    <span>
      <div class="btn-group" uib-dropdown>
        <button id="split-button" type="button" class="btn btn-danger">Action</button>
        <button type="button" class="btn btn-danger" uib-dropdown-toggle>
          <span class="caret"></span>
          <span class="sr-only">Split button!</span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
          <li role="menuitem"><a href="#">Action</a></li>
          <li role="menuitem"><a href="#">Another action</a></li>
          <li role="menuitem"><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li role="menuitem"><a href="#">Separated link</a></li>
        </ul>
      </div>
    </span>
    <ul>
      <li>{{ answerCtrl.answer.updated | date:'short' }}</li>
      <li>Mark Twain</li>
    </ul>
  </div>
</section>
