<section class="signup" ng-cloak>

  <h2>sign up</h2>

  <form
    ng-submit="signupCtrl.signup(signupCtrl.user)"
    no-validate>

    <div>
      <input class="input"
        type="text"
        placeholder="username"
        ng-minlength="4"
        ng-model="signupCtrl.user.username" required>
    </div>

    <div>
      <input class="input"
        type="password"
        placeholder="password"
        ng-minlength="3"
        ng-model="signupCtrl.user.password" required>
    </div>

    <button class="button" type="submit" value="sign up">sign up</button>

  </form>

</section>
