@import "../../../scss/lib/layout/info-container";

.answer-item {
  // background: orange;
  // border: 1px solid gray;
  margin-bottom: $gutter-std * 4;

  .single-answer {
    font-size: 1.6vw;
    font-weight: 100;
    margin-bottom: 1vw;
  }

  // .info-container {
  //   // background: red;
  //   // display: flex;
  //   // text-size: 1vw;
  //   // span {
  //   //   text-size: .05vw;
  //   //   text-transform: uppercase;
  //   // }
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   // color: red;
  // }
  //
  // .info-container-left {
  //
  // }
  //
  // .info-container-right {
  //
  // }
  //
  // @mixin info-content {
  //   // text-size: $font-sm;
  //   // color: red;
  //   // text-transform: uppercase;
  //   font-size: 1vw;
  //   text-transform: uppercase;
  // }
  //
  // .date {
  //   @include info-content;
  //   // font-size: .5vw;
  // }
  //
  // .author {
  //   @include info-content;
  // }
  //
  // .votes {
  //   @include info-content;
  // }
  //
  // .numanswers {
  //   @include info-content;
  //   margin-right: 2vw;
  // }

}
