@import "../../question/question-item/question-item";

.answer-item {
  // background: orange;
  // border: 1px solid gray;
  margin-bottom: 2vw;

  .single-answer {
    font-size: 1.6vw;
    margin-bottom: 1vw;
  }
}
