<section class="answer" ng-cloak>
  <div>{{ answerItemCtrl.answer.content }}</div>
  <div>
    <!-- <span>
      <div class="btn-group" uib-dropdown>
        <button class="button" id="split-button" type="button" class="btn btn-danger">Update | Delete</button>
        <button class="button" type="button" class="btn btn-danger" uib-dropdown-toggle>
          <span class="caret"></span>
          <span class="sr-only">Split button!</span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
          <li role="menuitem"><a href="#">UPDATE</a></li>
          <li role="menuitem"><a href="#">DELETE</a></li>
        </ul>
      </div>
    </span> -->
    <edit-answer ng-if="answerItemCtrl.showEditAnswer && answerItemCtrl.user.claim._id == answerItemCtrl.answer.author._id" answer="answerItemCtrl.answer"></edit-answer>

    <button class="button" ng-if="answerItemCtrl.user.claim._id == answerItemCtrl.answer.author._id" ng-click="answerItemCtrl.deleteAnswer()">delete</button>

    <button class="button" ng-if="answerItemCtrl.user.claim._id == answerItemCtrl.answer.author._id" ng-click="answerItemCtrl.showEditAnswer = !answerItemCtrl.showEditAnswer">edit</button>
    <ul>
      <li>{{ answerItemCtrl.answer.updated | date:'short' }}</li>
      <li>Author: {{ answerItemCtrl.answer.author.username }}</li>
      <p>Upvotes: {{ answerItemCtrl.answer.upvotes }}</p>
      <p>Downvotes: {{ answerItemCtrl.answer.downvotes }}</p>
      <a href="" ng-click="answerItemCtrl.upvoteAnswer(answer)">
        <i class="fa fa-lg fa-thumbs-up"></i>
      </a>
      <a href="" ng-click="answerItemCtrl.downvoteAnswer(answer)">
        <i class="fa fa-lg fa-thumbs-down"></i>
      </a>
    </ul>
  </div>
</section>
