<section class="answer-item" ng-cloak>
  <p class="single-answer">{{ answerItemCtrl.answer.content }}</p>
  <div>
    <!-- <span>
      <div class="btn-group" uib-dropdown>
        <button class="button" id="split-button" type="button" class="btn btn-danger">Update | Delete</button>
        <button class="button" type="button" class="btn btn-danger" uib-dropdown-toggle>
          <span class="caret"></span>
          <span class="sr-only">Split button!</span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
          <li role="menuitem"><a href="#">UPDATE</a></li>
          <li role="menuitem"><a href="#">DELETE</a></li>
        </ul>
      </div>
    </span> -->

    <div class="info-container">
      <div class="info-container-left">
        <span class="votes">upvotes: {{ answerItemCtrl.answer.upvotes }}</span>
        <a href="" ng-click="answerItemCtrl.upvoteAnswer(answer)"><i class="fa fa-lg fa-thumbs-up hover-icons"></i></a>
      </div>
      <div class="info-container-right">
        <span class="author">answered by {{ answerItemCtrl.answer.author.username }}</span>
        <span class="date"> on {{ answerItemCtrl.answer.updated | date:'short' }}</span>
      </div>
    </div>

    <div class="edit-delete-buttons">
      <edit-answer ng-if="answerItemCtrl.showEditAnswer && answerItemCtrl.user.claim._id == answerItemCtrl.answer.author._id" answer="answerItemCtrl.answer"></edit-answer>

      <button class="button-small hover-answers" ng-if="answerItemCtrl.user.claim._id == answerItemCtrl.answer.author._id" ng-click="answerItemCtrl.showEditAnswer = !answerItemCtrl.showEditAnswer">edit</button>

      <button class="button-small hover-answers" ng-if="answerItemCtrl.user.claim._id == answerItemCtrl.answer.author._id" ng-click="answerItemCtrl.deleteAnswer()">delete</button>
    </div>

  </div>
</section>
