<section class="question-item">

  <li>
    <div class="current-item" ng-if="!questionItemCtrl.showEditQuestion">
        <p>{{ questionItemCtrl.question.content}}</p>
        <p>Upvotes: {{ questionItemCtrl.question.upvotes }}</p>
        <p>Downvotes: {{ questionItemCtrl.question.downvotes }}</p>
        <p>Asked on: {{ questionItemCtrl.question.created | date:"MM/dd/yyyy 'at' h:mma" }}</p>
        <p>Updated: {{ questionItemCtrl.question.updated | date:"MM/dd/yyyy 'at' h:mma" }}</p>
        <p>Author: {{ questionItemCtrl.question.author.username }}</p>
        <a href="" ng-click="questionItemCtrl.upvoteQuestion(question)">
          <i class="fa fa-lg fa-thumbs-up"></i>
        </a>
        <a href="" ng-click="questionItemCtrl.downvoteQuestion(question)">
          <i class="fa fa-lg fa-thumbs-down"></i>
        </a>
    </div>

    <edit-question ng-if="questionItemCtrl.showEditQuestion" question="questionItemCtrl.question"></edit-question>
  </li>
  <button class="delete-btn" ng-click="questionItemCtrl.deleteQuestion()">delete</button>
  <button class="edit-btn" ng-click="questionItemCtrl.showEditQuestion = !questionItemCtrl.showEditQuestion">edit</button>
</section>
