<section class="create-question">
  <h2 class="color-questions">add a new question</h2>
  <form name="createQuestionForm"
    ng-submit="createQuestionCtrl.createQuestion()">

    <fieldset>
      <label for="content"></label>
      <textarea class="textarea" rows="10" cols="50" name="content" type="text" ng-model="createQuestionCtrl.question.content" required></textarea>
      <button class="button" type="submit">create question</button>
    </fieldset>

    <!-- <div class="divider-orange"></div> -->

  </form>
</section>
