.navbar {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $gutter-std;
    margin-bottom: $gutter-std * 2;
  }

  img {
    height: 4vw;
    margin-right: $gutter-std;
    min-height: 50px;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .signout-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .signout-container li {
    margin-left: $gutter-std;
  }
}
