<section class="navbar" ng-cloak>
  <nav>
    <div class="logo-container">
      <a href="/#!/"><img src="../../assets/img/logo.png" alt="interview overflow logo" title="interview overflow logo"></a>
      <span><a href="/#!/">Interview Overflow</a></span>
    </div>
    <ul class="signout-container">
      <li ng-hide="navbarCtrl.hideButtons"><a href="/ask">ask a question</a></li>
      <li ng-hide="navbarCtrl.hideButtons"><a href="/profile/me">profile</a></li>
      <li ng-hide="navbarCtrl.hideButtons" ng-click="navbarCtrl.logout()"><a href="#">sign out</a></li>
    </ul>
  </nav>
</section>
