@import "../../scss/lib/theme/vars";

.landing {

  // background: yellow;
  width: 50%;
  margin: 0 auto $gutter-std auto;
  // margin: 0 auto;

  .button {
    margin-bottom: $gutter-std;
  }

  .bold {
    padding-left: $gutter-sm;
  }

}
